<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Steezle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9EB5805E1F447D85004AF71E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EB5807A1F447D86004AF71E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EB580851F447D86004AF71E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
