<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>814069581108-umoc7jo5g8u1k2vms75caisokb4tf0go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814069581108-umoc7jo5g8u1k2vms75caisokb4tf0go</string>
	<key>API_KEY</key>
	<string>AIzaSyBl99p5rSiHMHDcz9AjYVf_1e8_PCZyQXg</string>
	<key>GCM_SENDER_ID</key>
	<string>8989533889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobivap.Steezle</string>
	<key>PROJECT_ID</key>
	<string>steezle-8b2b1</string>
	<key>STORAGE_BUCKET</key>
	<string>steezle-8b2b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:8989533889:ios:04aa47d386463c73</string>
	<key>DATABASE_URL</key>
	<string>https://steezle-8b2b1.firebaseio.com</string>
</dict>
</plist>
